.top{
    display:block;
    background-color: lightseagreen;
    width: 100%;

}
h1 {
    font-family: sans-serif;
    text-align : center;
    color: black;
}




ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    background-color: lightseagreen;
    position: fixed;
    display: block;
    width: 100%;
}

li {
    float: left;
    display: block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: black;
}
